body {
  font-size: 2.5vh;
  top: 15%;
  left: 40%;
  margin: 0 auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
}

#calculator {
  background-color: black;
  width: auto;
  height: auto;
  padding: 1.5vh;
  border: 5px solid #666666;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.box {
  text-align: right;
  font-size: 2.8vh;
  height: 3vh;
  line-height: 3vh;
  padding: 1em;
  border: 2px solid #e68a00;
  color: white;
  border-radius: 15px;
  background-color: black;
}

#last_operation_history {
  height: 1.8vh;
  font-size: 1.8vh;
  text-align: right;
  padding-right: 1.5vh;
  color: rgb(177, 176, 176);
  background-color: black;
}

button {
  width: 9vh;
  height: 9vh;
  font-weight: bold;
  font-size: 3vh;
  color: white;
  background-color: #666666;
  border-radius: 50%;
  border: 1px solid #333333;
}

#backspace_btn {
  background-image: url("../assets/back_remove.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.7em;
}

button:hover {
  background-color: #999999;
  cursor: pointer;
}

.operator {
  background-color: #e68a00;
}

.operator:hover {
  background-color: #ffd11a;
}

#equal_sign {
  width: 100%;
  border-radius: 15px;
}

.resultado-lexico {
  float: left;
  background: #fbfbfb;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 15px #fff, inset 5px 5px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 600px;
  margin-top: 50px;
  margin-left: 25px;
}

.arbol-derivacion {
  float: right;
  background: #fbfbfb;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 15px #fff, inset 5px 5px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 600px;
  margin-top: 50px;
  margin-right: 25px;
}

#tree {
  width: 50%;
  margin: auto;
}

.tree-node {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
  width: 30px;
}

.tree-node.operators {
  font-weight: bold;
  margin: auto;
}

.tree-node.node-left {
  float: left;
}

.tree-node.node-right {
  float: right;
}

.tree-branch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
